.Tete {
   display: flex;
   justify-content: center;
   gap: 10px;
   padding: 10px;
   background-color: whitesmoke;
   border-radius: 20px;
   box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.447);

}
.Tete a {
    padding: 20px;
    transform: translateX(-60px);
    color: black;

    
}
 .Section1{
    background : linear-gradient( 135deg,  #575783, #917693, #D6CFDC );
    padding: 10px;
}
.Section1 h2 {
    text-align: center;
    padding: 250px;
    font-size: 3em;
    transform: translateX(10px);
    animation: bounce 1s infinite;
}
div img {
    transform: translateX(-520px);
    

}
.Tete h3 {
    transform: translateX(-180px);
    color:#917693 ;
}
@keyframes bounce {
    0%,100%{ transform: translateX(0);}
    50%{transform: translateY(-15px);}
}


.Section2 {
    text-align: center;
    background-color: white;
    border-radius: 30px;

}
.Section2 h1 p {
    font-size: 5em;

}
.Section2 h1{
    font-size: 2em;
    color:#917693 ;

}
.stats-container {
  display: flex;
  gap: 20px; /* espace entre les cartes */
  justify-content: center; /* centrer */
  margin-top: 40px;
}

.stat-card {
  background: white;
  padding: 30px;
  width: 150px;
  text-align: center;

  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);

  transition: transform 0.2s ease;
}

.stat-card h2 {
  color: #5d87ff; /* bleu comme l'image */
  font-size: 2rem;
  margin: 0;
}

.stat-card p {
  margin-top: 5px;
  color: #666;
  font-size: 0.9rem;
}

.stat-card:hover {
  transform: translateY(-5px);
}
.Section2 h2 {
    text-align: center;
}
.Section3 h1 {
    text-align: center;
    color:#917693 ;
    font-size: 2em; 
}



    .skills-container {
      display: flex;
      justify-content: center;
      gap: 20px;
      flex-wrap: wrap;
    }

    .card {
      background: #ffffff;
      width: 250px;
      padding: 25px;
      border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
      text-align: center;
      transition: 0.3s;
    }

    .card:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 16px rgba(0,0,0,0.15);
    }

    .icon-circle {
      width: 50px;
      height: 50px;
      background: #4f6cf5;
      color: white;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 22px;
      margin: 0 auto 15px auto;
    }

    h3 {
      font-size: 18px;
      margin-bottom: 10px;
    }

    p {
      font-size: 14px;
      color: #555;
       }
    

